* {
    margin: 0;
    direction: rtl;
    font-family: sans-serif;
    
}
body {
    background-color: #e9e6e6;
}
.navbar {
    background-color: rebeccapurple;
    padding: 1em;
    
}
.navbar ul {
    list-style-type: none;
    
}
.navbar ul li a {
    text-decoration: none;
    color: #fff;
    
}
.navbar ul li {
    margin: .5em;
}
.header-img {
    margin-top: 1.5em;
    width: 678px;
    box-shadow: 0 0 25px #494242;
    border-radius: 10px;
   
   
}
.about-us  {
    align-items: center;
    padding: .8em;
}
.card-photo {
    width: 200px;
} 

/*Services */
.services .service {
    background-color: #fff;
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 19%);
    border-radius: 10px;
    transition: 0.3s;
    width: 250px;
    height: 150px;
    margin: 1em;
}

.services .service:hover {
    box-shadow: 0 0 5px 0 black;
  }
.services h2 {
    text-align: center;
    margin: 1em;
}
/*Utilities*/
.container {
    max-width: 960px;
    margin: auto;
}
.img-responsive {
    max-width: 100%;
}
.m-1 {
    margin: 1em;
}
.flex {
    display: flex;
    flex-direction: column;
}
.main-card {
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 19%);
}
.main-card .text{
    padding: .5em;
}
@media (min-width: 576px) { 
    .flex {
        flex-direction: row;
    }
    .about-us  {
        flex-direction: column-reverse;
        align-items: center;
        padding: .8em;
    }
    
   
 }
@media (min-width: 768px) { 
    .about-us {
        
        justify-content: space-between;
        align-items: center;
    }

 }

@media (min-width: 992px) {
    .about-us {
        flex-direction: row;
    }
}
/*

// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { ... }

*/